* {
  box-sizing: border-box;
}

body {
    background-color: honeydew;
}

header {
    background: #e36414;
    padding: 15pt;
    text-align: center ;
}

header h1 {
    color: purple;
    font-size: 200%;
}

main {
    margin: 20px;
}

img {
  height: auto;
}

.center-image {
text-align: center;
}

p {
    color: teal;
    padding: 15pt;
}

section {
  margin-bottom: 15px;
  width: 100%;
}

section div.container {
  overflow:hidden;
  width: 90%;
}

section div.aboutme {
  float: left ;
  width: 45%;
}

h2 {
    color: purple;
    font-size: 150%;
    padding: 10pt;
}

ul {
    color: teal;
    list-style-type: initial;
}

ul li {
  margin-left: 40px ;
}

h3 {
  color: purple;
  padding: 10pt;
}

ol {
  color: teal;
}

ol li {
  margin-left: 40px;
  list-style-type: decimal;
}

footer {
    background: #e36414;
    color: purple;
    padding: 10pt;
}
